<div class="container">
    <div class="body">
        <button class="sub-button">Free sub</button>
        <button class="view-coins-button">Ver Monedas</button>
        <label for="amount">Importe</label>
        <input type="text" id="amount" placeholder="1,00 $">
        <label for="from">De</label>
        <div class="dropdown">
            <input type="text" id="from" placeholder="USD">
            <div class="icons">
                <span class="edit-icon">✏️</span>
                <span class="star-icon">⭐</span>
            </div>
        </div>
        <label for="to">a</label>
        <input type="text" id="to" placeholder="EUR-Euro">
        <button class="convert-button" type="submit">Convertir</button> 
        <p id="result" >Resultado de la Conversion</p>
        <div class="attempts">
            Te quedan <span class="attempts-number">n</span> intentos
        </div>
    </div>
  </div>
  
  
