<div class="container">
  <div class="body">
    <p class="p-text">Plan:  {{ userSubscriptionType || 'No disponible' }}</p>
    <button class="view-coins-button" [routerLink]="['/coins']">Ver Monedas</button>
    <label for="amount">Importe</label>
    <div id="importe">
      <input type="number" id="amount" placeholder="100" [(ngModel)]="amount" />
    </div>


    <div class="input-container">
      <label for="from">De</label>
      <app-favorite-coin
      [selectedCurrency]="selectedFromCurrency"
      (selectedCurrencyChange)="onFromCurrencyChange($event)"
    ></app-favorite-coin>
    </div>

    <div class="input-container">
      <label for="to">a</label>
      <app-favorite-coin
      [selectedCurrency]="selectedToCurrency"
      (selectedCurrencyChange)="onToCurrencyChange($event)"
    ></app-favorite-coin>
    </div>

    <button class="convert-button" type="button" (click)="convertCurrency()" [disabled]="!selectedFromCurrency || !selectedToCurrency">Convertir</button>
    <p id="result"> {{ result }}</p>

    <div class="p-text">
      <p>Intentos restantes: {{ userConversionsLeft + 1 ?? 'Cargando...' }}</p>
    </div>
  </div>
</div>
