@import 'src/assets/styles/variables.scss';

// /* Asegura que el body ocupe toda la pantalla */
// body, html {
//     margin: 0;
//     padding: 0;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
// }

/* Contenedor principal */
.container {
    padding-top: 100px;
    width: 100%;
    height: 100%; /* Ocupa toda la pantalla */
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: flex-start;
    overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido excede el tamaño */
}


/* Contenedor de categorías */
.category {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
}

/* Estilo del título */
.title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

/* Título principal */
h1 {
    font-size: 24px;
    margin: 0;
    color: $primary-color;
    flex-grow: 1;
}

/* Contenedor del botón */
.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
}

/* Estilo del botón */
.create-button {
    background-color: #E4AE1E;
    color: #25292F;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Hover del botón */
.create-button:hover {
    background-color: darken(#E4AE1E, 10%);
}

/* Contenedor de monedas */
.coin-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
    overflow-y: auto;
    margin-top: 80px; 
}

/* Estilo de las monedas */
.coin {
    margin: 5px;
}

/* Permite scroll en el contenedor de monedas si es necesario */
.coin-container {
    max-height: 400px; /* Ajusta este valor según el espacio que quieras ocupar */
    overflow-y: auto;
}

/* Estilo de la estrella */
.star-icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: $header-background;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 400px;
  }
  