@import 'src/assets/styles/variables.scss';

.container {
    width: 100%;
    height: 100%;
    display: flex;
    place-items: center;
    justify-content: center;
}

.container-general {
    width: 95%;
    height: 98%;
    inset: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    border-radius: 10px;
}

.category {
    width: 95%;
    height: 33.3%;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    gap: 5px;
 }

    .title {
        display: flex;
        justify-content: space-between; // Espacio entre el título y el botón
        align-items: center; // Alineación vertical centrada
    }
    
    .star-icon {
        width: 20px; // Ajusta el tamaño de la estrella según sea necesario
        height: 20px; // Ajusta el tamaño de la estrella según sea necesario
        margin-left: 5px; // Espaciado entre la palabra "Favoritas" y la estrella
    }
    
h1 {
    font-size: 24px; 
    margin: 0; 
    color: $primary-color;
}

.button-container {
    display: flex; // Usar flex para alinear el botón
    justify-content: flex-end; // Alinear el botón a la derecha
    margin: 10px;
}

.coin-container {
    width: 100%;
    height: 77%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    overflow-y: scroll;
}

.coin {
    margin: 2px; 
}

.title {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    color: white; 
    padding: 0 20px; 
}

.create-button {
    background-color: #E4AE1E;
    color: #25292F; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 20px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    margin-left: 50px;
}

.create-button:hover {
    background-color: darken(#E4AE1E, 10%);
}
