<div class="login-container">
    <div class="login-card">
      <h2 class="login-title">Iniciar Sesión</h2>
      <form>
        <div class="form-group">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            id="email"
            class="form-input short-input" 
            placeholder="Ingrese su email"
          />
        </div>
        <div class="form-group">
          <label for="password" class="form-label">Contraseña</label>
          <input
            type="password"
            id="password"
            class="form-input short-input" 
            placeholder="Ingrese su contraseña"
          />
        </div>
        <button type="submit" class="login-button">Iniciar Sesión</button>
        <p class="form-label">No tienes cuenta? <a href="">Registrate</a></p>
    </form>
    </div>
  </div>
  
  