@import 'src/assets/styles/variables.scss';

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $background-color;
  padding: 20px;
  box-sizing: border-box;
}

.logo-icon {
  font-size: 50px;  
  color: $primary-color;  
}

.register-card {
  background-color: $header-background;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 380px;
  box-sizing: border-box;
  text-align: center;
}

.register-title {
  color: $primary-color;
  margin-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-container {
  margin-bottom: 20px;
}

.form-label {
  color: $text-color;
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #555;
  border-radius: 6px;
  background-color: #444;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: $text-color;
  font-size: 16px;
  transition: border-color 0.3s;
}

.form-input:focus {
  outline: none;
  border-color: $primary-color;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.register-button {
  width: 100%;
  padding: 12px;
  background-color: $primary-color;
  color: $background-color;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  transition: background-color 0.3s;
}

.register-button:disabled {
  background-color: grey;  
  color: #bbb; 
  cursor: not-allowed;  
}

.register-button:hover {
  background-color: darken($primary-color, 10%);
}
p {
  font-size: 14px;
  color: $text-color;
}

a {
  color: $primary-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .register-card {
    padding: 20px;
    max-width: 90%;
  }

  .register-title {
    font-size: 24px;
  }

  .form-input {
    font-size: 14px;
    padding: 10px;
  }

  .register-button {
    padding: 10px;
    font-size: 14px;
  }

  p {
    font-size: 12px;
  }
}
