<div class="register-container">
  <div class="register-card">
    <div class="logo-container">
      <i class="fas fa-coins logo-icon"></i> 
    </div>
    <h2 class="register-title">Registrarse</h2>
    <form #registerForm="ngForm" (ngSubmit)="register()">
      <div class="input-container">
        <label for="email" class="form-label"></label>
        <input
          name="email"
          [(ngModel)]="registerData.email" #email="ngModel"
          type="email"
          id="email"
          class="form-input"
          placeholder="Ingrese su email"
          required
        />
        <p class="error" *ngIf="email.invalid && (email.touched || email.dirty)">Ingrese un email válido</p>
      </div>
      <div class="input-container">
        <label for="password" class="form-label"></label>
        <input
          name="password"
          [(ngModel)]="registerData.password" #password="ngModel"
          type="password"
          id="password"
          class="form-input"
          placeholder="Ingrese su contraseña"
          required
        />
        <p class="error" *ngIf="password.invalid && (password.touched || password.dirty)">Ingrese una contraseña</p>
      </div>
      <div class="input-container">
        <label for="confirmPassword" class="form-label"></label>
        <input
          name="confirmPassword"
          [(ngModel)]="registerData.confirmPassword" #confirmPassword="ngModel"
          type="password"
          id="confirmPassword"
          class="form-input"
          placeholder="Confirmar contraseña"
          required
        />
        <p class="error" *ngIf="confirmPassword.invalid && (confirmPassword.touched || confirmPassword.dirty)">Las contraseñas no coinciden</p>
      </div>
      <button (click)="register()" [disabled]="!isFormValid()" class="register-button">Registrar</button>
      <p class="form-label">¿Ya tienes cuenta? <a [routerLink]="['/login']" routerLinkActive="router-link-active">Iniciar Sesión</a></p>
    </form>
  </div>
</div>
