<form #form="ngForm" (ngSubmit)="onSubmit()">
    <h1>Crear currency.ic</h1>
    <div class="card-coin">
            <input type="text" autocomplete="off" placeholder="Leyenda" [(ngModel)]="currency.legend" name="leyenda">

            <input type="text" autocomplete="off" placeholder="Símbolo" [(ngModel)]="currency.symbol" name="simbolo">
        
            <input type="number" autocomplete="off" placeholder="Índice de Convertibilidad" [(ngModel)]="currency.ic.ic" name="ic">
    </div>
    <div class="options">
        <button id="crear" type="submit" [disabled]="(currency.legend.length == 0 || currency.symbol.length == 0 || currency.ic.ic <= 0)">Crear +</button>
        <button id="cancelar" type="button" (click)="close.emit()">Cancelar</button>
    </div>
</form>