@import 'src/assets/styles/variables.scss';

.coin-detail {
  background-color: $background-color;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  margin: 50px auto; 

  .edit-title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: $primary-color;
    margin-bottom: 30px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    label {
      font-size: 1rem;
      margin-bottom: 12px;
      color: $text-color;
      width: 100%;
    }

    input {
      background-color: $background-color;
      border: 2px solid $primary-color;
      border-radius: 8px;
      padding: 10px;
      margin-bottom: 20px;
      width: 100%;
      color: $text-color;
      font-size: 1rem;
      transition: border-color 0.3s;

      &:focus {
        outline: none;
        border-color: #4CAF50; 
      }
    }

    .form-buttons {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 15px;

      .confirm-button,
      .cancel-button {
        padding: 12px;
        font-size: 1.1rem;
        border-radius: 8px;
        width: 48%;
        border: none;
        cursor: pointer;
      }

      .confirm-button {
        background-color: $primary-color;
        color: $background-color;

        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }

      .cancel-button {
        background-color: gray;
        color: $text-color;

        &:hover {
          background-color: darkgray;
        }
      }
    }
  }
}

.ng-template {
  text-align: center;
  color: $text-color;
  font-size: 1.2rem;
}
