@import 'variables.scss';

body {
    background-color: $background-color;
    font-family: Arial, sans-serif;
    margin: 0;
    color: $text-color;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
    max-width: 400px;
    margin: auto;
    height: 100%;
}

.header {
    background-color: $primary-color;
    padding: 10px;
    text-align: center;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.currency-icon {
    font-size: 24px;
    margin-right: 10px;
}

h1 {
    margin: 0;
    font-size: 16px;
}

h2 {
    margin: 0;
    font-size: 20px;
}

.footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    width: 100%;
    border-radius: 0 0 10px 10px;
    margin-top: auto;
}

.footer .plans-button {
    background-color: $primary-color;
    border: none;
    border-radius: 5px;
    color: $text-color;
    cursor: pointer;
    padding: 10px;
    width: 100%;
}
