@use "./variables.scss";

body {
    background-color: $background-color;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: $text-color;
}

.container {
    width: 90%;
    max-width: 400px;
}

.header {
    background-color: $primary-color;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.currency-icon {
    font-size: 24px;
    margin-right: 10px;
}

h1 {
    margin: 0;
    font-size: 16px;
}

h2 {
    margin: 0;
    font-size: 20px;
}

.sub-button, .view-coins-button, .convert-button, .plans-button {
    background-color: $primary-color;
    border: none;
    border-radius: 5px;
    color: $text-color;
    cursor: pointer;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

input[type="text"] {
    background-color: white;
    border: none;
    border-radius: 5px;
    color: black;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

.dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}

.icons {
    display: flex;
}

.edit-icon, .star-icon {
    margin-left: 5px;
    cursor: pointer;
}

.attempts {
    color: red;
    margin: 10px 0;
}

.plans-button {
    background-color: black;
    border-radius: 10px;
}
