<div class="dropdown">
    <div class="input-container">
        <input type="text" [value]="selectedCoin" placeholder="Selecciona una moneda" (click)="toggleDropdown()" readonly>
        <!-- Lápiz como botón con routerLink a otra ruta -->
        <a [routerLink]="['/coin-detail']" class="edit-icon">
            ✏️
        </a>
        <span class="dropdown-arrow" 
              [ngClass]="{'rotated': showDropdown}" 
              (click)="toggleDropdown()">{{ showDropdown ? '▲' : '▼' }}</span>
    </div>
    <ul *ngIf="showDropdown" class="dropdown-menu">
        <li *ngFor="let coin of favoriteCoins" (click)="selectCoin(coin)">
            {{ coin }} 
            <i class="fas fa-star favorite" (click)="toggleFavorite(coin, $event)"></i>
        </li>
        <li *ngFor="let coin of availableNonFavoriteCoins" (click)="selectCoin(coin)">
            {{ coin }}
            <i class="far fa-star" (click)="toggleFavorite(coin, $event)"></i>
        </li>
    </ul>
  </div>
  