<div class="dropdown">
  <div class="input-container">
    <input
      type="text"
      [value]="selectedCurrency"
      placeholder="Selecciona una moneda"
      (click)="toggleDropdown()"
      readonly
    />

    <a [routerLink]="['/coin-detail']" class="edit-icon">✏️</a>
    
    <span class="dropdown-arrow" [ngClass]="{'rotated': showDropdown}" (click)="toggleDropdown()">
      {{ showDropdown ? '▲' : '▼' }}
    </span>
  </div>
  
  <ul *ngIf="showDropdown" class="dropdown-menu">
    <li *ngFor="let currency of favoriteCurrencies" (click)="selectCurrency(currency)">
      {{ currency.legend }} ({{ currency.symbol }})
      <i
        class="fas fa-star favorite star-icon"
        (click)="toggleFavorite(currency, $event)"
        title="Remove from favorites"
      ></i>
    </li>
    
    <!-- Monedas no favoritas -->
    <li *ngFor="let currency of availableNonFavoriteCurrencies" (click)="selectCurrency(currency)">
      {{ currency.legend }} ({{ currency.symbol }})
      <i
        class="far fa-star star-icon"
        (click)="toggleFavorite(currency, $event)"
        title="Add to favorites"
      ></i>
    </li>
  </ul>
</div>
